:root {
  --common-font: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  font-family: sans-serif;
  font-size: 62.5%; 
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0; 
  font-size: 1.6em; 
  line-height: 1.5;
  font-weight: 300;
  font-family: var(--common-font);
  --bokeh-base-font: var(--common-font);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  margin-bottom: 0.8rem;
  margin-top: 1.6rem;
}

h1 { 
  font-size: 3.6rem;
  letter-spacing: -.05rem;
}
h2 {
  font-size: 3.0rem;
  letter-spacing: -.03rem;
}
h3 {
  font-size: 2.4rem;
  letter-spacing: -.02rem;
}
h4 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 0px;
}
h5 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0px; 
}

p {
  margin-top: 1.6rem;
}

button  {
  font-family: inherit;
  font-size: 1.4rem;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
  border: 2px solid #444444;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: grey;
}

.container {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0px 16px;
}

.outline {
  border: 1px solid black;
  padding: 5px;
  background-color: white;
}

.elevation-plot-heading {
  margin-top: 0px;
  margin-left: 62px;
}

#map {
  width: 100%;
  height: 400px;
}

.mapboxgl-popup-content {
  font-family: var(--common-font);
  font-size: 1.2rem;
  font-weight: 300;
  padding: 8px;
}

.map-container {
  overflow: hidden;
  display: inline-block;
  position: relative;
}

#location-marker {
  display: none;
  position: absolute;
  z-index: 9;
}

svg {
  display: block;
  margin: 0 auto;
}

#svg-location-marker {
  width: 16px;
  height: 16px;
}

#svg-circle {
  fill: yellow;
  stroke: purple;
  stroke-width: 2
}

#stage-label {
  display: block;
  position: absolute;
  z-index: 9;
}

.stages-layout {
  margin-left: 16px;
  margin-right: 16px;
}

.stage-layout {
  display: flex;
  justify-content: space-between;
}

.align-center {
  display: flex;
  align-items: center;
}

.stage-header {
  margin-bottom: 0;
  font-weight: 500;
  font-variant-caps: small-caps;
}

.column {
  margin-top: 0px;
  margin-bottom: 0px;
  columns: 225px 2;
}

.profile-btn {
  padding-left: 16px;
  padding-right: 16px;
  height: 36px;
  border: 2px solid #444444;
  background-color: white;
}

.profile-btn img {
  width: 36px;
  margin-right: 8px;
}

.profile-btn:focus {
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
}

.footer {
  margin-top: 1.6rem;
  border-top: 1px solid #444444cf;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

.footer img {
  width: 16px;
  height: 16px;
  display: flex;
  align-content: center;
  margin-left: 4px;
}
